# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native builds (descomentar si no vas a deployar Android/iOS aún)
android/
ios/
*.apk
*.ipa

# Web build (si no usas web)
web/
*.web.jsx
*.web.js

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.keystore

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# macOS
.DS_Store
*.pem

# Windows
Thumbs.db

# Local env files
.env*.local
.env

# TypeScript
*.tsbuildinfo

# IDE
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/
*.swp
*.swo
*~

# Archivos raros
com.facebook.react.uimanager.ViewManager

# Configuración local (si no quieres commitear)
# app.json
# babel.config.js
